.menu{
    list-style:none;
    padding:0;
    margin:0;
    font-size: 100%;
    font-family: Georgia;
}
.menu li{
    float:left;
    padding:0;
    margin:0;
    position:relative;
    padding: 8px 10px;
}
.menu li.active, .menu li:hover {
    background:#65023a;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.menu li.have-inner:hover {
    -moz-border-radius: 15px 15px 0 0;
    -webkit-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}

.menu li ul{
    list-style:none;
    padding:0;
    margin:0;
    width:400px;
    display:none;
    position:absolute;
    right:0;
    background:#65023a;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}
.menu li ul li{
    float:none;
    height:33px;
    margin:0;
    width:400px;
    text-align:right;
    background:none;
    padding: 0;
}

.menu li a{
    display:block;
    text-decoration: none;
}

.menu li ul li a{
    display:block;
    font-size: 15px;
    float: right;
    text-decoration: none;
    color: white;
    font-family: 'Georgia';
    border: none;
    font-weight: bolder;
}
.menu li:hover ul{
    display:block;  
}
.menu li:hover, .menu li.jshover{
}