.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

body {
    background-image: url('/i/bg.jpg');
    margin: 0;
    padding: 0;
    background-repeat: repeat-y;
    background-position: center;
    background-color: #230310;
    background-attachment: scroll;
    color: #FAC493;
    font-family: 'Verdana';
    font-size: 13px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 223px;
    margin: 40px auto 0;
    position: relative;
    z-index: 1001;
}

.mainmenu {
    position: relative;
    top: 93px;
    z-index: 1000;
}

.mainmenu a, .left-menu a, .last-news-block a {
    font-family: 'Georgia';
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #FBB03B;
    border-bottom: 1px solid #FBB03B;
    margin: 0 23px;
}

.mainmenu li:hover {
}

.mainmenu a:hover, .last-news-block a:hover {
    border-bottom: none;
    text-decoration: none;
}
    
.promo {
    margin-top: 30px;
    text-align: center;
}

.promo img {
    margin: 0 11px;
    border: 3px solid rgba(83, 44, 47, 1);
    -moz-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    -webkit-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
}


.promo #instance_imageflow {
    margin-top: -110px;
}

.main-page {
    margin-top: 45px;
}


.main-page.index-mainpage {
    margin-top: 0;
}

.left-menu {
    width: 220px;
    padding-left: 25px; 
}

.main-page h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.main-page .page-text {
    font-weight: bold;
    line-height: 16px;
}

.left-menu a {
    margin: 15px 0;
    display: block;
    border-bottom: none;
    width: 120px;
}
.left-menu-separator {
    background-image: url('/i/left-menu-separator.png');
    width: 131px;
    height: 1px;
}

.content {
    width: 500px;
}
.last-news-block {
    margin-top: 40px;
}
.last-news-block a {
    color: #d3b25f;
    font-size: 18px;
    text-decoration: none;
}
.last-news-block a:hover {
}


.last-news-block-item {
    width: 295px;
    margin-right: 25px;
}
.last-news-block-item div{
    margin: 10px 0 0 20px;
    font-weight: bold;
    
}

.logos-list {
    background-image: url('/i/logos-bg.png');
    width: 926px;
    height: 80px;
    margin: 40px auto 20px;
    padding: 0 12px;
}

.logos-list img {
    margin: 14px 12px;
    vertical-align: middle;
}

.footer-info {
    background-image: url('/i/footer-info-bg.png');
    height: 81px;
    width: 1020px;
    margin: 0 auto;
}

.footer-info p {
    font-size: 12px;
}

.footer-info p a{
    color: #ffffff;
    text-decoration: none;
}

.footer-info p a:hover{
    text-decoration: underline;
}

.footer-info div.text {
    margin: 29px 130px 0 0;
}

.footer-info .footer-logo {
    margin:22px 25px 0 0;
}

.footer-info .visa-block {
    margin:24px 0 0 0;
}

.paginator {
    cursor:default;
    font-size:12px;
    font-style:italic;
    margin-bottom:10px;
    padding:5px;
    text-align:left;
}

.paginator-center {
    text-align: center;
}

.paginator a, .paginator span {
    border: 1px solid #ccc;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
    color:#555;
    font-weight: bold;
}

.paginator a:hover {
    border-color: #0078FF;
    color: #0078FF;
}

.paginator span {
    border: 1px solid #aaa;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #dddddd;
}

#flashcontent {
    text-align: center;
    margin: 10px auto;
    width: 950px
}

#flashcontent embed{
    border: 6px solid rgba(83, 44, 47, 1);
    -moz-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    -webkit-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
}

.lineelement {
    float: left;
    display: inline;
}

.lineelement.right {
    float: right;
}

#photo-slider {
    margin-left: 30px;
}
