@font-face {
/*    font-family: Georgia; 
    src: url(fonts/georgia.ttf);*/
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}

body {
    background-image: url('/i/bg.jpg');
    margin: 0;
    padding: 0;
    background-repeat: repeat-y;
    background-position: center;
    background-color: #250314;
    background-attachment: fixed;
    color: #FAC493;
    font-family: 'Georgia';
    font-size: 13px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.logo {
    width: 223px;
    margin: 7px auto 0;
    position: relative;
    z-index: 1001;
}

.mainmenu {
    position: relative;
    top: 60px;
    z-index: 1000;
}

.mainmenu a, .left-menu a, .last-news-block a {
    font-family: 'Georgia', serif;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #FBB03B;
    border-bottom: 1px solid #FBB03B;
    margin: 0 23px;
}

.mainmenu li:hover {
}

.mainmenu a:hover, .last-news-block a:hover {
    border-bottom: none;
    text-decoration: none;
}

.promo {
    margin-top: 10px;
    text-align: center;
}

.promo #photo-slider img {
    margin: 0 11px;
    border: 3px solid rgba(83, 44, 47, 1);
    -moz-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    -webkit-box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
    box-shadow: 0px 0px 38px rgba(83, 44, 47, 1);
}

.promo #instance_imageflow {
    margin-top: -110px;
}

.main-page {
    margin-top: 45px;
}


.main-page.index-mainpage {
    margin-top: 0;
}

.left-menu {
    width: 220px;
    padding-left: 25px; 
}

.main-page h3 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'TimesNewRoman', serif;
    font-style: italic;
    line-height: 100%
}

.main-page .page-text {
    font-weight: bold;
    line-height: 16px;
}

.left-menu a {
    margin: 15px 0;
    display: block;
    border-bottom: none;
    width: 120px;
}
.left-menu-separator {
    background-image: url('/i/left-menu-separator.png');
    width: 131px;
    height: 1px;
}
.right-menu {
    width: 174px;
    height: 90px;
    background-image: url('/i/tel.png');
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #464d55;
    font-family: 'Times New Roman';
}

.right-menu .tel {
    font-size: 24px;
    margin-top: 21px;
}

.right-menu .text {
    font-size: 10px;
}

.content {
    width: 500px;
    font-family: Arial;
    line-height: 17px;
    font-size: 14px;
}

.content a{
    color:#FBB03B;
    font-weight: bolder;
}

.content div.virtual-link {
    margin-top: 10px;
    text-align: center;
}

.last-news-block {
    margin-top: 40px;
    border: 1px dashed #FBB03B;
    border-left: none;
    border-right: none;
    padding: 25px 0;
    background-image: url('/i/footer-info-bg.png');
}
.last-news-block a {
    color: #d3b25f;
    font-size: 18px;
    text-decoration: none;
}
.last-news-block a:hover {
}


.last-news-block-item {
    width: 295px;
    margin-right: 25px;
}
.last-news-block-item div{
    margin: 10px 0 0 20px;
    font-weight: bold;

}

.logos-list {
    background-image: url('/i/logos-bg.png');
    width: 958px;
    height: 88px;
    margin: 40px auto 20px;
    text-align: center;
}

.logos-list a:hover img{
    opacity: 0.6;
}

.logos-list img {
    margin: 14px 0px;
    vertical-align: middle;
}

.footer-info {
    background-image: url('/i/footer-info-bg.png');
    -height: 81px;
    width: 1020px;
    margin: 0 auto;
}

.footer-info p {
    font-size: 12px;
}

.footer-info p a{
    color: #ffffff;
    text-decoration: none;
}

.footer-info p a:hover{
    text-decoration: underline;
}

.footer-info div.text {
    margin: 29px 130px 0 0;
}

.footer-info .footer-logo {
    margin:22px 25px 0 0;
}

.footer-info .visa-block {
    margin:24px 0 0 0;
}

.paginator {
    cursor:default;
    font-size:12px;
    font-style:italic;
    margin-bottom:10px;
    padding:5px;
    text-align:left;
}

.paginator-center {
    text-align: center;
}

.paginator a, .paginator span {
    border: 1px solid #ccc;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #eee;
    color:#555;
    font-weight: bold;
}

.paginator a:hover {
    border-color: #0078FF;
    color: #0078FF;
}

.paginator span {
    border: 1px solid #aaa;
    padding: 3px 6px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #dddddd;
}

#flashcontent {
    text-align: center;
    margin: 10px auto;
    width: 950px
}

.lineelement {
    float: left;
    display: inline;
}

.lineelement.right {
    float: right;
}

#photo-slider {
    margin-left: 30px;
}

.news-list a {
    font-family: 'Georgia';
    font-size: 20px;
    color: #FBB03B;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}

.news-list span.news-date, .languages-list a.active {
    background: #fcaf39;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    color:black;
    padding: 5px 10px;
    font-family: Verdana;
    font-style: italic;
    font-weight: bolder;
    font-size: 10px;
}

.languages-list {
    float: right;
    padding: 20px 25px 0 0;
}

.languages-list a {
    color:#fcaf39;
    padding: 5px 10px;
    font-family: Georgia;
    font-style: italic;
    font-weight: bolder;
    font-size: 10px;
}

.languages-list a.active {
    font-family: Georgia;
}


.languages-list a:hover {
    text-decoration: none;
}

.news-list a:hover {
    text-decoration: none;
}

.news-short-description {
    margin-bottom: 10px;
    font-family: 'Georgia';
    font-size: 13px;
}

.news-item {
    margin-bottom: 30px;
}

.venzel {
    width: 148px;
    height: 18px;
    margin-left: -20px
}

.top-venzel {
    background-image: url('/i/venzel-top.png')
}
.bottom-venzel {
    background-image: url('/i/venzel-bottom.png')
}

.infoblock {
    width: 176px;
    height: 92px;
    overflow: hidden;
}

.infoblock div {
    margin-top: -92px;
}
.infoblock img {
    max-width: 176px;
    max-height: 92px;
}

.art {
    padding: 15px 0;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

.art a {
    color:#fff;
    margin-left: 5px;
}

.top-information {
    position: absolute;
    width: 960px;
    text-align: center;
    top:25px;
    font-style: italic;
    font-weight: bold;
}